<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    
    
    <!-- Sample GAE Client Servlet -->
	<servlet>
		<servlet-name>RefmoClient</servlet-name>
		<servlet-class>edu.hfu.refmo.demo.RefmoClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefmoClient</servlet-name>
		<url-pattern>/refmo_client</url-pattern>
	</servlet-mapping>
	

<!-- Sample GAE Servlet -->
	<servlet>
		<servlet-name>Refmo</servlet-name>
		<servlet-class>edu.hfu.refmo.demo.RefmoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refmo</servlet-name>
		<url-pattern>/refmo_demo</url-pattern>
	</servlet-mapping>
	

	
<!-- Rest Jersey API -->	
	<servlet>
    <servlet-name>RestJerseyServlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.hfu.rest.action.jersey</param-value>
    </init-param>

    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestJerseyServlet</servlet-name>
    <url-pattern>/refmo/*</url-pattern>

<!-- Cloud Endpoint API -->
<servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>edu.hfu.rest.action.endpoint.Greetings</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
   </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	


 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>edu.hfu.rest.action.endpoint.Greetings</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 
 	
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>


</web-app>